@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer utilities {
  @media (min-width: 1024px) {
    .reviews-section {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }
}
